/* .cont{
    background-image: url(../../public//img/circle.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position-x: 67%;
    z-index: 1;
    position: relative;
}
.main{
    z-index: 4;
    position: relative;
} */