.main{
    /* min-height: 100vh; */
    background-color: #FDF2DB;
    /* color: #007A89; */
    color: black;
    padding: 70px 30px;
   
}
.center{
    text-align: center;
    padding: 15px 0;
    font-size: 1.5rem;
    line-height: 2rem;
}
.text{
    font-size: 0.8rem;
    line-height: 2.0rem;
    display: flex;
    align-items: center;
    flex: 1;
    /* font-weight: lighter; */
   
}
.texts{
    font-size: 0.8rem;
    line-height: 2.0rem;
    display: flex;
    align-items: center;
    flex: 4.5;
    /* font-weight:bolder; */
   
}
.link{
   /* text-decoration: none; */
   list-style: none;
   color: black;
}
.cont{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}






@media (min-width:768px) {
   
        .main{
        padding: 70px ;
    }
    .center{
        text-align: start;
        font-size: 2rem;
    line-height: 3rem;
    padding: 20px 0;
    }
    
    .text{
        font-size: 1.3rem;
    line-height: 3.0rem;
       
    }
    .texts{
        font-size: 1.3rem;
    line-height: 3.0rem;
        flex: 6;
    }
    .cont{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }
    
}





@media (min-width:1024px) {
   
    .main{
    padding: 99px ;
}
.center{
    font-size: 2rem;
    line-height: 3rem;
    
padding: 10px 0;
}

.text{
    font-size: 1.0rem;
    line-height: 3rem;
    /* width: 70%; */
}
.texts{
    font-size: 1.0rem;
    line-height: 3rem;
    flex: 8;
}
}



@media (min-width:1280px) {
   
    .main{
        padding: 99px ;
       
}
.center{
    font-size: 2rem;
    line-height: 3rem;
    
padding: 20px 0;
}
.text{
    font-size: 1.2rem;
    /* width: 50%; */
    line-height: 3.5rem;
  
}
.texts{
    font-size: 1.2rem;
    line-height: 3.5rem;
    flex: 11;
}
}