
.main{
    background-color: #F9F6F6;
    padding: 70px 30px;
    /* background-color: red; */
}
.bold{
    font-weight: bolder;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.5rem;
}
.head{
    text-align: center;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.text{
    text-align: center;
    font-weight: 100;
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: 1px;
}
.cont{
    display: grid;
    gap: 60px;
    padding: 60px 0 10px 0;
    /* background-color: red; */
   
    
    
}
.contcont{
border: 1px solid #17ADC0;
    border-radius: 10px;
    padding: 60px 10px;
    text-align: center;
   font-size: 0.7rem;
   line-height: 1.6rem;
   position: relative;
   /* min-height: 50vh; */
   background-color: #fff;
   filter: drop-shadow(0px 9px 4px rgba(0, 0, 0, 0.25));
   /* box-shadow: 4px 0px 4px 4px rgba(0.1, 0, 0.1, 0.1); */
  
}
.circle{
    width: 50px;
    height: 50px;
    
   
}
.textnew{
    font-weight: bolder;
   margin-top: 30px;
   font-size: 0.9rem;
   line-height: 2rem;
   /* background-color: yellow; */
}
.center{
    /* text-align: start; */
    font-weight: lighter;
    /* background-color: red; */
    /* min-height: 50vh; */
}

.dat{
  left: 0;
  right: 0;
  top: -20px;
    position: absolute;
}


@media (min-width:768px) 
{
    .main{
        /* max-height: 25vh; */
    /* background-color: #F9F6F6; */
    padding: 70px ;
}
.container{
    padding: 40px 0;
    min-height: 40vh;
}
.bold{
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.head{
    text-align: center;
    font-weight: 100;
    font-size: 1.0rem;
    line-height: 2.5rem;
}
.text{
    text-align: center;
    font-weight: 100;
    font-size: 1.0rem;
    line-height: 1.6rem;
}
.cont{
   
    /* gap: 56px; */
    align-items: center;
    
}
.contcont{
     padding: 70px 30px;
     font-size: 1rem;
     line-height: 2rem;
     /* min-height: 35vh; */
     /* background-color: red; */
}
.circle{
    width: 60px;
    height: 60px;
    
}
.textnew{
    font-weight: bolder;
   margin-top: 10px;
   font-size: 1.2rem;
   line-height: 2rem;
}
.center{
    /* background-color: red; */
    min-height: 20vh;
}

}



@media (min-width:1024px) {
    .main{
        /* max-height: 54vh; */
    /* background-color: #F9F6F6; */
    padding: 70px;
}
.container{
    padding: 40px 0;
    min-height: 90vh;
}
.bold{
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.head{
    text-align: center;
    font-weight: 100;
    font-size: 1.0rem;
    line-height: 2.5rem;
}
.text{
    text-align: center;
    font-weight: 100;
    font-size: 1.0rem;
    line-height: 1.6rem;
}

.cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 100px;
    padding: 70px 40px;
    
}
.contcont{
    padding: 60px 20px;
    font-size: 0.8rem;
    line-height: 1.8rem;
    /* max-height: 50vh; */
}
.textnew{
    font-weight: bolder;
   margin-top: 10px;
   font-size: 1.0rem;
   line-height: 2rem;
}
.center{
    /* background-color: red; */
    min-height: 55vh;
}

}
@media (min-width:1280px) {
    .container{
        padding: 40px 0;
        min-height: 75vh;
    }
.main{
    /* max-height: 43vh; */
}
.contcont{
    padding: 99px 30px;
    font-size: 1.0rem;
    line-height: 2rem;
    
}

.cont{
    gap: 100px;
    padding: 70px 40px;
    /* background-color: red; */
}
.circle{
    width: 65px;
    height: 65px;
   
}
.textnew{
    font-weight: bolder;
   /* margin-top: 30px; */
   font-size: 1.1rem;
   line-height: 2rem;
}
.center{
    /* background-color: red; */
    min-height: 40vh;
}
}