
.container {
    padding: 10px 20px;
    overflow: hidden;
    /* background-image: url(../../../public//img/light.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    z-index: 1;
    position: relative; */
}
.subcont{
    display: block;
    align-items: center;
    /* border: 1px solid red; */
    /* position: relative; */
}
.logocont{
    width: 50%;
    height: 5vh;
    /* position: relative; */
}
.blue{
    /* position:absolute;
    right: 1.9rem;
    width: 104%; */
   
}
.img{
    width: 100%;
    height: 100%;
}
.menu{
    visibility: visible;
    color: gray;
    width: 40px;
    height: 40px;
}
.imgcont{
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
    /* position: relative; */
}
.listcont{
    display: block;
    color: #17ADC0;
    padding: 10px 0;
    font-size: 0.9rem;
    line-height: 1.5rem;
   
    /* border: 1px solid rgb(121, 108, 108); */
    /* position: absolute;
    background-color: white;
    width: 90%;
    bottom: 457px;
     */
}
.items:hover{
    color: red;
}

.buttonone{
    padding:1px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    background-color: #007A89;
    color: white;
    border: none;
    margin-top: 3px;
}
.visibleOnDesktop {
    display: none;
  }
  .link{
    list-style: none;
    text-decoration: none;
  }









@media (min-width:768px) {
    .container {
        padding: 10px 30px;
        background-size: 40%;
        background-repeat: no-repeat;
        background-position-x: 100%;
        z-index: 1;
        /* position: relative; */
    }
   
    .logocont{
        width: 40%;
        height: 5vh;
        position: relative;
    }
    .img{
        width: 100%;
        height: 100%;
    }
    .menu{
        visibility: visible;
        color: gray;
        width: 60px;
        height: 60px;
    }
  
    .listcont{
        padding: 20px 0;
        display: block;
        font-size: 1.3rem;
    line-height: 2rem;
  
    }
    .subcont{
        display: block;
    }
    .visibleOnDesktop {
        display: none;
      }
      .buttonone{
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin-top: 6px;
        padding: 5px 15px;
      }
}


@media (min-width:1024px) {
    .container {
        padding: 10px;
        background-size: 28%;
        background-repeat: no-repeat;
        background-position-x: 65%;
        z-index: 1;
        position: relative;
        /* border: 1px solid rgb(255, 0, 255); */
    }
    .subcont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 76px;
        gap: 10px;
        position: unset;
    }
    .imgcont{
        display: block;
        align-items: center;
        /* border: 1px solid red; */
        height: 8vh;
        flex: 2;
    }
   
    .logocont{
        width: 50%;
        height: 8vh;
    }
    .img{
        width: 100%;
        height: 100%;
    }
    .menu{
        visibility: hidden;
    }
    .listcont{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 33px;
        padding:0 10px;
        flex: 3;
        font-size: 0.9rem;
        line-height: 1rem;
        position: unset;
       
    }
    .buttonone{
        padding:5px 14px;
    border-radius: 20px;
        font-size: 0.9rem;
        line-height: 1rem;
        margin-top: 0;
    }
    .blue{
        position:absolute;
        right: 1.9rem;
        width: 104%;
       
    }
    .new{
        position: relative;
    }


}

@media (min-width:1280px) {
    .container {
        padding:10px 30px;
        background-size: 24%;
        background-repeat: no-repeat;
        background-position-x: 66%;
        z-index: 1;
        position: relative;
    }
    .subcont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .imgcont{
        display: block;
        align-items: center;
        flex: 2;
        height: 6vh;
    }
    
    .menu{
        visibility: hidden;
    }
    .listcont{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 42px;
        height: 6vh;
        flex: 3;
        font-size: 0.9rem;
        line-height: 1rem;

    }
    .logocont{
        width: 60%;
        height: 6vh;
    }
    .blue{
        position:absolute;
        right: 1.9rem;
        width: 100%;
       
    }
}
